body{
    background: url("./photos/IMG_20170731_101136.jpg") center/cover fixed no-repeat;
    box-sizing: border-box;
}
nav {
    background: rgba(0, 0, 0, 0.685);
    width:100%;
    height:100px;
    padding-bottom: 30px;
    margin: 0 auto;
    position:fixed;
    text-align: center;
    font-weight: bolder;
    box-sizing: border-box;
}
   nav ul li{
       list-style-type: none;
       display: inline-block;
       margin: 30px;
       
       
   }
   nav ul li:hover{
       padding: 10px;
       background:black;
       
   }
   nav ul li a{
       text-decoration: none;
       color:gold;
       
   }
   nav ul li a:hover{
       color:white;

   }
   .Menu{
       display: none;

   }
   nav ul li:hover .Menu{
    display: block;
    position:absolute;
     background:black;
     box-sizing: border-box;
     color:gold;
     margin-top: 13px;
    
} 
   nav ul li:hover .Menu ul li{
    display: block;
    width:150px;
    padding: 10px;
    border-bottom:1px dotted #fff;
    text-align: left;
    border-radius: 0;
    margin: 20px;}
    

   nav ul li:hover .Menu ul li:last-child{
        border-bottom:none;}
    

   nav ul li:hover .Menu ul li a:hover
   {
    
    color:white;}
    
.Sub-Menu{
    display: none;

}
.security:hover .Sub-Menu{
    position:fixed;
    display: block;
    color:white;
    margin-top:-40px ;
    margin-left: 140px;
    background-color:black;
}





